# Usage:
# cp openrgb.service /home/USERNAME/.config/systemd/USERNAME
# systemctl --user daemon-reload
# systemctl --user enable openrgb.service

[Unit]
Description=OpenRGB Profile Loader

[Service]
Type=oneshot
ExecStart=/path/to/OpenRGB.AppImage -p PROFILE_NAME.orp

[Install]
WantedBy=default.target
